@use 'abstracts' as *;
@use 'components' as *;
@use 'layouts' as *;
@use 'mixins' as *;

html,
body {
  padding: 0;
  margin: 0;
}
code {
  font-family: Consolas,"courier new";
  color: $dark;
  background-color: $gray-100;
  padding: 2px;
  font-size: 105%;
}
a {
  color: inherit;
  text-decoration: none;
  background-clip: none;
}
button {
  cursor: pointer;
  background-clip: none;
}
* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #e5d9b6;
    background: #1a1a1a;
  }
}
